{# 每个内容block的样式 #}
{%- for post in postslist | reverse %}
<article class="flex flex-row mx-auto mb-6 max-w-4xl
                overflow-hidden rounded-md bg-white shadow-md
                md:max-w-4xl md:h-64
            ">
    <div class="md:flex">
        {# image #}
        {% if post.data.image %}
        <div class="md:shrink-0 md:h-64 md:w-64 overflow-hidden">
            <a href="{{ post.url }}">
                <img
                    class="object-cover md:aspect-square md:object-cover"
                    src="{{ post.data.image | url }}"
                    alt="{{ post.data.title }} image"
                >
            </a>
        </div>
        {% endif %}
        {# text #}
        <div class="p-8 pt-12 sm:pt-8 sm:pb-10">
            <time class="text-xs font-semibold tracking-wide text-neutral-500 uppercase" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
            <h2 class="mb-2 font-bold uppercase text-xl text-neutral-800">
				<a href="{{ post.url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
            </h2>
            <div class="mx-auto prose prose-neutral">

				{# 优先展示 frontmatter里的 descriptin #}
                {% if post.data.description %}
                    <p>{{ post.data.description | safe }}<p>
				{# 其次展示正文里的 <!--more--> 标记之前的内容#}
                {% elif post.content.includes('<!--more-->') %}
                    {{ post.content.split('<!--more-->')[0] | safe }}
				{# 最后展示正文前140个字符的内容#}
                {% else %}
                    <p>{{ post.content | striptags | truncate(140) | safe }}</p>
                {% endif %}
{#                  <p class="mt-12 text-center not-prose sm:mt-16">
                        <a href="{{ site.baseurl }}{{ post.url }}"
                        class="inline-flex px-6 py-4 text-xs font-medium tracking-widest no-underline uppercase transition bg-slate-100 hover:bg-slate-200">深入阅读</a>
                    </p> #}
            </div>
        </div>
    </div>
</article>
{%- endfor %}