    <footer class="flex flex-col bg-neutral-100 dark:bg-neutral-800 justify-self-center">
        <div class="max-w-4xl mx-auto p-0 py-12
                    grid grid-cols-1 gap-2 md:grid-cols-3
                    prose-sm prose text-xs dark:prose-invert
                ">
            <!-- 基本信息 -->
            <div class="">
             <h3 class="font-semibold mb-4">BG6LH</h3>
                <img src="/img/qrcode_for_bg6lh.jpg" alt="" class="w-32 sm:w-32">
                <div class="">
                    <p>{{ metadata.copyrightText }}</p>
                </div>
            </div>

            <!-- 网站栏目 -->
            <div class="">
                <h3 class="font-semibol mb-4">网站栏目</h3>
            	<nav>
                    <ul class="space-y-2">
                        {%- for entry in collections.all | eleventyNavigation %}
                        <li class=""><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
                        {%- endfor %}
                    </ul>
                </nav>
            </div>


            <!-- 社交媒体 -->
            <div class="">
                <h3 class="mb-4">Social Links</h3>
                <div class="flex gap-6">
                    <div class="text-center">

                    </div>
                    <div class="text-center">
                    </div>
                </div>
            </div>
        </div>
    </footer>
