<section id="header_warp" class="
				flex flex-col mx-auto p-0
				container
                text-center justify-center
                md:flex-row
				md:justify-between
		">
	<div class="flex flex-row p-0">
		{% if metadata.logo %}
			<figure class="flex p-1 inline-block h-8 w-8">
				<img class="h-8 w-8 rounded-full shadow-lg" src={{ metadata.logo.src | url }} alt="{{ metadata.logo.alt }}"/>
			</figure>
		{% endif %}
		<a class="flex p-1" href="/" class="home-link">{{ metadata.title }}</a>
	</div>

	{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
	<nav class="">
		<h2 class="visually-hidden">Top level navigation menu</h2>
		<ul class="nav">
			{%- for entry in collections.all | eleventyNavigation %}
			<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
			{%- endfor %}
		</ul>
	</nav>
</section>