<section id="hero" class="flex flex-col w-auto relative overflow-hidden h-108 md:flew-row">
    <!-- 背景层：绝对定位，铺满父容器，添加模糊 -->
    <div class="absolute inset-0 bg-center bg-cover overflow-hidden filter blur-xs scale-105" style="background-image: url('{{ hero[page.lang].heroBackgroundImg }}')"></div>

    <!-- container wrap -->
    <div class="flex flex-col items-center justify-center relative mx-auto z-10 p-6 m-0 text-white h-full md:flex-row md:w-4xl">
        <div class="flex felx-col justify-center">
            {% if hero[page.lang].title %}
                <h1 class="font-bold text-6xl text-shadow-lg md:text-8xl">{{ hero[page.lang].title }}</h1>
            {% endif %}
        </div>
        <div class="container">
            {% if hero[page.lang].text %}
                <div class="mx-auto md:pt-12">
                    {{ hero[page.lang].text | markdown | safe }}
                </div>
            {% endif %}
            {% if hero[page.lang].buttons %}
                <div class="mx-auto flex-row m-6">
                    {% for button in hero[page.lang].buttons %}
                        <a href="{{ button.link }}"
                        class="inline-block button
                        text-neutral-100 text-sm h-9
                        font-bold p-2 px-4 mr-3
                        bg-blue-500 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500
                        rounded-full shadow-lg
                        ">{{ button.lable }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    
</section>
