---js
const permalink = "/";
const eleventyNavigation = {
	key: "Home",
	title: "首页",
	order: 1
};

const numberOfLatestPostsToShow = 10;

---

<section id="mainContent" class="flex-col mx-auto p-0">


	<!-- hero -->
	{% if hero %}
	{% include "components/hero.njk" %}
	{% endif %}

	<!-- postlist -->
	<div class="mx-auto max-w-4xl p-0">
		{% set postsCount = collections.posts | length %}
		{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
		
		<div class="mx-auto p-6 my-0 text-2xl font-bold dark:text-neutral-100">
			<h1>{{ languages[page.lang].newPosts}}</h1>
		</div>
		{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
		{% set postslistCounter = postsCount %}
		<div class="mx-auto px-4">
		{% include "postslist.njk" %}
		</div>


		<div class="mx-auto p-6 my-0 text-2xl font-bold dark:text-neutral-100">
			<h1 class"text-2xl font-bold">博客合集</h1>
		</div>
		<div class="mx-auto px-4 pb-10 dark:text-neutral-100">
			{% set morePosts = postsCount - numberOfLatestPostsToShow %}
			{% if morePosts > 0 %}
			<p>在<a href="{{ "/blog/" | locale_url }}">博客合集</a>中还有{{ morePosts }}篇博文。</p>
			{% endif %}
		<div>

	</div>


</section>
