---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
	// addAllPagesToCollections: true,
};

const eleventyExcludeFromCollections = true;
const layout = "layouts/home.njk";
const lang = "zh-CN";


const eleventyComputed = {
	title: "Tagged '{{ tag }}'",
	permalink: function(data) {
		return `/${this.lang}/tags/${this.slugify(data.tag)}/`;
	}
};
---


<section id="mainContent" class="flex-col mx-auto p-0  dark:text-neutral-100">
	<div class="mx-auto max-w-4xl p-0">
		<div class="mx-auto p-6 my-0 text-2xl font-bold">
			<h1>Tagged “{{ tag }}”</h1>
		</div>
	</div>
	<div class="mx-auto px-4 prose prose-neutral ">



{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>See <a href="{{page.lang}}/tags.njk">all tags</a>.</p>


	</div>
</section>