<!doctype html>
<html lang="{{ page.lang or metadata.languageCode }}">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="stylesheet" href="/css/style.out.css"/>
		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		<style>/* This is an arbitrary CSS string added to the bundle */</style>
		{#- Remove or comment out the problematic line below #}
		{# <style>{% include "css/index.css" %}</style> #}
		{#- Or you can add from node_modules #}
		{# <style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style> #}

		{#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}

		{#- Add the heading-anchors web component to the JavaScript bundle #}
		<script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>
        <!-- favicon -->
        <link rel="icon" href="/img/me.svg" type="image/svg+xml">

        <!-- Open graph -->
        <meta property="og:title" content="{{ title or metadata.title }}">
        <meta property="og:description" content="{{ description or title }}">
        <meta property="og:type" content="article">
        <meta property="article:tag" content="{{ tags }}">
        <meta property="og:url" content="{{ page.url | url }}">
        <meta property="og:site_name" content="BG6LH">
        <meta property="og:locale" content="zh_CN">
        <meta property="og:image" content="{{ image }}">
        <!-- Twitter -->
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@jamflying">
        <meta name="twitter:description" content="{{ description or title }}">
        <meta name="twitter:image" content="{{ image }}">

	</head>
	<body class="bg-white dark:bg-slate-800 overflow-auto dark:text-white dark:text-gray-900"
	      x-data="{
	        open: false,
	        darkMode: localStorage.getItem('theme') === 'dark',
	      }"
	      x-init="
	        $watch('open', value => {
	          if (value) {
	            document.body.classList.add('overflow-hidden', 'md:overflow-auto');
	          } else {
	            document.body.classList.remove('overflow-hidden', 'md:overflow-auto');
	          }
	        });
	        $watch('darkMode', value => {
	          if (value) {
	            document.documentElement.classList.add('dark');
	            localStorage.setItem('theme', 'dark');
	          } else {
	            document.documentElement.classList.remove('dark');
	            localStorage.setItem('theme', 'light');
	          }
	        });
	        if (darkMode) document.documentElement.classList.add('dark');
	        else document.documentElement.classList.remove('dark');
	      "
	>
		{% include "components/header.njk" %}
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		<main class="flex-grow pt-15">
			<heading-anchors class="">
				{{ content | safe }}
			</heading-anchors>
		</main>
		<footer class="flex w-full text-neutral-800 dark:text-neutral-100 bg-neutral-100 dark:bg-neutral-800">
			{% include "components/footer.njk" %}
		</footer>
		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
<!-- Alpine 状态定义 -->
		<script defer src="/js/alpinejs@3.x.x.js"></script>
		<script defer src="https://cloud.umami.is/script.js" data-website-id="e7795679-6456-4a17-819f-508502dac125"></script>
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>

	</body>
</html>
