<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="stylesheet" href="/css/style.out.css"/>
		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		<style>/* This is an arbitrary CSS string added to the bundle */</style>
		{#- Remove or comment out the problematic line below #}
		{# <style>{% include "css/index.css" %}</style> #}
		{#- Or you can add from node_modules #}
		{# <style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style> #}

		{#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}

		{#- Add the heading-anchors web component to the JavaScript bundle #}
		<script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>

        <!-- favicon -->
        <link rel="icon" href="/img/me.svg" type="image/svg+xml">

        <!-- Open graph -->
        <meta property="og:title" content="{{ title or metadata.title }}">
        <meta property="og:description" content="{{ description or title }}">
        <meta property="og:type" content="article">
        <meta property="article:tag" content="{{ tags }}">
        <meta property="og:url" content="{{ page.url | url }}">
        <meta property="og:site_name" content="BG6LH">
        <meta property="og:locale" content="zh_CN">
        <meta property="og:image" content="{{ image }}">
        <!-- Twitter -->
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@jamflying">
        <meta name="twitter:description" content="{{ description or title }}">
        <meta name="twitter:image" content="{{ image }}">
		<script defer src="https://cloud.umami.is/script.js" data-website-id="e7795679-6456-4a17-819f-508502dac125"></script>

	</head>
	<body class="flex flex-col min-h-screen antialiased bg-white dark:bg-neutral-950">
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		{% include "components/header.njk" %}

		<main id="main" class="p-0 m-0">
			<heading-anchors class="p-0 m-0 bg-neutral-400">
				{{ content | safe }}
			</heading-anchors>
		</main>

		{% include "components/footer.njk" %}

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
