---
layout: layouts/base.njk
---
<!-- Delete this block, which will also remove the component CSS from the bundle -->
<!--style>{% include "css/message-box.css" %}</style-->



{% if metadata.hero %}
    <section class="flex flex-col w-full mb-1 bg-white sm:flex-row{% if metadata.hero.image == nil %} px-4{% endif %}">
        <div class="flex-1 w-full py-12 text-center {% if metadata.hero.image %}px-4 sm:px-8 sm:text-left{% else %}max-w-2xl mx-auto sm:py-16{% endif %}">
            {% if metadata.hero.title %}
                <h1 class="mb-4 text-3xl font-bold uppercase sm:text-4xl text-slate-800">{{ metadata.hero.title }}</h1>
            {% endif %}
            {% if metadata.hero.text %}
                <div class="prose max-w-none prose-slate">
                    {{ metadata.hero.text | markdown | safe }}
                </div>
            {% endif %}
        </div>
        {% if metadata.hero.image %}
            <figure class="flex-1 w-full">
                <img class="object-cover w-full h-full" src={{ metadata.hero.image.src | url }} eleventy:widths="640" eleventy:formats="webp" loading="lazy" decoding="async" alt="{{ metadata.hero.image.alt }}" />
            </figure>
        {% endif %}
    </section>
{% endif %}


<div class="message-box hero">
	<ol>
		<li>欢迎访问我的数字花园！</li>
		<li>这里是我积累下来的业余无线电笔记。</li>
		<li>我把它们整理出来，也是激励自己，把这个高尚的爱好坚持下去。</li>
	</ol>
	<p><em>This is an <a href="https://www.11ty.dev/">Eleventy project</a> created from the <a href="https://github.com/11ty/eleventy-base-blog"><code>eleventy-base-blog</code> repo</a>.</em></p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
